[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.15.4"
tqdm = "==4.19.9"
opencv-python = ">=3.1"
flask = "*"
werkzeug = "*"
tensorflow-gpu = "==1.14"
tensorflow = "==1.14"
ipython = "*"

[requires]
python_version = "3.5"
