.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3439px;
}

.u-section-1 .u-text-1 {
  margin: 60px 246px 0 247px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 123px 0;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 32px auto 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
  height: 325px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  border-style: dotted;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 3439px;
  }

  .u-section-1 .u-text-1 {
    width: 647px;
    margin-left: 147px;
    margin-right: 146px;
  }

  .u-section-1 .u-text-2 {
    width: 894px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 276px;
    margin-left: 277px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}